img {
    vertical-align: middle;
}

/* 头部样式 */

.lt-header {
    background-color: #006699;
}

/* 搜索,回退,刷新,主页按钮样式 */

.lt-header-search,
.lt-header-back,
.lt-header-refresh,
.lt-header-home {
    font-size: 20px;
    color: white;
    line-height: 44px;
}

/* 标题 */
.lt-header-title {
    color: white;
}

.lt-header-title input {
    height: 30px;
    margin-top: 7px;
    padding: 0 15px;
    color: black;
}

/* 底部样式 */

.lt-footer {
    background-color: #006699;
}

/* 底部导航栏子项 */

.lt-footer .mui-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    text-align: center;
    color: white;    
    vertical-align: middle;
    /* 单行显示,超出部分省略号显示 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lt-footer .mui-item.mui-active span {
    color: orange;
  }
  
  .lt-footer .mui-item.mui-active span:first-child {
    color: orange;
  }
  
  
  .lt-footer .mui-item span:first-child {
    color: #fff;
  }
  
  .lt-footer .mui-tab-label {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }